# top-most EditorConfig file
root = true

# 'insert_final_newline = false' should not remove last empty line

[*]
charset = utf-8
end_of_line = lf
# tab_width here used only to represent tabs if indent_size is not set
tab_width = 4
trim_trailing_whitespace = true
insert_final_newline = true

[*.php]
indent_style = space
indent_size = 4
insert_final_newline = false

# temporary. spaces will be used later.
[*.js]
indent_style = tab
tab_width = 4

[*.{css,yml,html}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false
insert_final_newline = false

[/src/content/themes/*/index.php]
indent_style = space
indent_size = 2
