body, td, th, input,textarea,select { font-family: arial; font-size:10pt; } 
html { height:100%; }
body { margin:0px; padding:0px;  height:100%; min-height:100%; background-color:#fff; }
#wrapper { margin:0px auto; max-width:950px;  height:100%; }
#container { height:auto !important;height:100%;min-height:100%;    }
#body { padding:8px; padding-bottom:16px; }
form { display: inline; }
h2,h3 { margin:0; }
h2 { font-size:15pt; float:left; padding-right:10px; background-color:#ffffff; }
h3 { border-bottom:2px solid #B5D5FF; margin-bottom:10px; padding:6px 0; font-size:11pt; }
#page_tasks h3 { padding-left:4px; padding-right:4px; }
a { color:#0000ff; }
#space { height:30px; }
#footer { height:30px; margin-top:-30px; }
#footer_content { background-color:#b5d5ff; padding:5px; font-size:8pt; }
#footer_content a { color:#000000; }

#bar { border-bottom:1px solid #b5d5ff; padding-bottom:5px; height:15px; }
.bar-menu { float:right; }
.nodecor { text-decoration:none; }
#bar_logout { display:none; }
#bar_auth { display:none; }
#authform { overflow: hidden; z-index:100; background-color:#f9f9f9; border:1px solid #cccccc; padding:5px; width:160px; }
#authform div { padding:2px 0px; }
#authform div.h { font-weight:bold; }

.mtt-tabs { list-style:none; padding:0; margin:0; }
.mtt-tabs li { margin:1px 3px 0 0; float:left; max-width:199px; border-left:1px solid #ededed; background:#fbfbfb url(images/tab_hover.gif) no-repeat top right; }
.mtt-tabs a { position:relative; margin:0; font-size:9pt; font-weight:bold; text-decoration:none; text-align:center; white-space:nowrap; color:#444444; display:block; height:21px; padding:6px 6px 0px 2px; outline:none; vertical-align:top; }
.mtt-tabs a span { display:inline-block; min-width:75px; cursor:pointer; padding:0; overflow:hidden; }
.mtt-tabs .list-action { display:none; float:left; position:absolute; top:6px; right:5px; width:15px; height:15px; background:#fff url(images/icons.gif) 0 0 no-repeat; }
.mtt-tabs .list-action:hover, .mtt-tabs .list-action.mtt-menu-button-active { background-position:-16px 0; cursor:pointer; }
.mtt-tabs li.mtt-tabs-selected span { margin-right:16px; }
.mtt-tabs li.mtt-tabs-selected .list-action { display:block; }
.mtt-tabs li.mtt-tabs-selected { background:#ededed url(images/corner_right.gif) no-repeat top right; border-left:1px solid #ededed; }
.mtt-tabs li:hover a { color: #888888; }
.mtt-tabs.mtt-tabs-only-one li { display:none; }
.mtt-tabs.mtt-tabs-only-one li.mtt-tabs-selected { display:block; }
#page_tasks.readonly .list-action { display:none; }
#page_tasks.readonly li.mtt-tabs-selected span { margin-right:0; }

.mtt-tabs-add-button { float:left; margin-top:1px; padding:6px 2px 0px 2px; font-size:9pt; width:16px; border-left:1px solid #ededed; background:#fbfbfb url(images/tab_hover.gif) no-repeat top right; }
.mtt-tabs-add-button:hover { cursor:pointer; }
.mtt-tabs-add-button span { display:block; height:21px; background:url(images/bullet_plus.png) 0 0 no-repeat; }
.mtt-tabs-add-button:hover span { background-position:-16px 0; }
#page_tasks.readonly .mtt-tabs-add-button { display:none; }

#page_tasks.readonly #htab_search a.htab-toggle { color:#444; }
.mtt-htabs  { clear:both; padding:8px; border-bottom:2px solid #DEDEDE; background:url(images/corner_right.gif) no-repeat top right #ededed; }
#htab_newtask a>img { border:none; vertical-align:text-top; }
#loading { float:left; padding-top:5px; background-color:#ffffff; display:none; padding-right:6px;}
#task, #search { color:#444444; width:300px; }
.small-bar{ font-size:8pt; color:#999999; font-weight:normal;}
#searchbar { font-size:10pt; font-weight:normal; display:none;  margin-top:5px; }
#searchbarkeyword { font-weight:bold; }

#msg { float:left; }
#msg .msg-text {  padding:1px 4px; font-weight:bold; cursor:pointer; }
#msg .msg-details { padding:1px 4px; background-color:#fff; display:none; max-width:700px;  }
#msg.mtt-error .msg-text { background-color:#ff3333; }
#msg.mtt-error .msg-details { border:1px solid #ff3333;  }
#msg.mtt-info .msg-text { background-color:#EFC300; }
#msg.mtt-info .msg-details { border:1px solid #EFC300;}

.mtt-notes-showhide { font-size:8pt; font-weight:normal; margin-left:2px; margin-right:2px; }
#rss_icon { float:right;margin-top:4px; }
#rss_icon img { border:none; }

.task-left { float:left; }
.task-toggle { visibility:hidden; margin-top:2px; cursor:pointer; width:15px; height:15px; float:left; background:url(images/icons.gif) -32px 0 no-repeat; }
li.task-has-note .task-toggle { visibility:visible; }
li.task-expanded .task-toggle { background-position:-48px 0; }
.task-middle { margin-left:40px; margin-right:25px; }
#tasklist { list-style-type: none; margin: 0; padding: 0;}
#tasklist li { padding:6px 2px 6px 6px; border-bottom:1px solid #DEDEDE; min-height:18px; margin-bottom:1px; background-color:#fff; }
#tasklist li:hover { background-color:#f6f6f6; }
.task-actions { float:right; width:25px; text-align:right; }
.task-date { color:#999999; font-size:8pt; margin-left:4px; display:none; }
.show-inline-date .task-date { display:inline; }
.task-through { overflow:hidden; }
.task-title a { color:#000000; }
.task-title a:hover { color:#af0000; }
#page_tasks.readonly #tasklist li .task-actions { display:none; }
.task-tags { padding:0px 2px; }
.task-tags .tag { font-size:8pt; font-weight:bold; color:#333333; text-decoration:underline;  }
.task-tags .tag:hover {  }
.duedate { color:#333333;  border-bottom:1px dotted #333333; padding:0px; padding-left:1px; margin-left:5px; float:right; }
#tasklist li.soon .duedate { color:#008000; border-color:#008000; }
#tasklist li.today .duedate { color:#FF0000; border-color:#FF0000; } 
#tasklist li.past .duedate { color:#A52A2A;  border-color:#A52A2A; } 
li.task-completed .task-through { text-decoration:line-through; color:#777777; }
li.task-completed .task-title a { color:#777777; }
#tasklist li.task-completed .duedate { color:#777777; border-color:#777777; }
li.task-completed  { opacity:0.8; }
li.task-completed .task-toggle { opacity:0.8; }

a.taskactionbtn { display:block; float:right; height:15px; width:15px; text-decoration:none; background:url(images/icons.gif) 0 0 no-repeat; }
li:hover a.taskactionbtn, a.taskactionbtn.mtt-menu-button-active { background-position:-16px 0; }

#tasklist.filter-past li, #tasklist.filter-today li, #tasklist.filter-soon li { display:none; }
#tasklist.filter-past li.past, #tasklist.filter-today li.today, #tasklist.filter-soon li.soon { display:block; }
#tasklist.filter-past li.task-completed, #tasklist.filter-today li.task-completed, #tasklist.filter-soon li.task-completed { display:none; }

.task-note-block { margin-left:2px; color:#777777; background:url(images/page_white_text.png) left  2px no-repeat; padding-left:19px; padding-top:2px; min-height:16px; margin-top:2px; display:none; }
li.task-expanded .task-note-block { display:block; }
li.task-completed .task-note-block .task-note { text-decoration:line-through; }
.task-note-area { display:none; margin-bottom:5px; }
.task-note-area textarea { color:#999999; width:100%; display:block; height:65px; }
.task-note-actions { font-size:8pt; }
.hidden { display:none; }
.invisible { visibility:hidden; }
.in500 { width:500px; color:#444444; }
.in100 { width:100px; color:#444444; }
.task-note span a { color:#777777; }
.task-note span a:hover { color:#af0000; }

.task-prio { padding-left:2px; padding-right:2px; margin-left:0px; margin-right:4px; cursor:default; }
.prio-neg { background-color:#3377ff; color:#ffffff; }
.prio-pos { background-color:#ff3333; color:#ffffff; }
.prio-pos-1 { background-color:#ff7700; color:#ffffff; }
.prio-zero { /*background-color:#dedede;*/ }
.task-prio.prio-zero { display:none; } 

.form-row { margin-top:8px; }
.form-row .h { font-weight:bold; color:#333333; }
.form-row-short-end { clear:both; }
#overlay { position:fixed; z-index:200; background-color:#111111; display:none; top:0px; left:0px; width:100%; height:100%; }
#page_taskedit { position:fixed; z-index:201; background-color:#fdfdfd; padding:8px; border:1px solid #cccccc; width:510px; }
#page_taskedit .form-row .in500 { width:99%; }
#page_taskedit .form-row textarea.in500 { height:130px; /*resize:none;*/ }
#page_taskedit .form-row-short { float:left; margin-right:12px; }
.ui-icon-gripsmall-diagonal-se { background:url(images/icons.gif) 0 -16px; }
#alltags .tag { font-weight:bold; color:#333333; }
#alltags .tag:hover { background-color:#999988; color:white; }
.alltags-cell { width:1%; white-space:nowrap; padding-left:5px; }
#page_taskedit.mtt-inadd .mtt-inedit { display:none; }
#page_taskedit.mtt-inedit .mtt-inadd { display:none; }
#taskedit-date { font-size:10pt; font-weight:normal; text-align:right; float:right; color:#777; }

/* autocomplete */
.ac_results { padding:0px; border:1px solid #cccccc; background-color:#f9f9f9; overflow:hidden; z-index:99999; -moz-box-shadow:1px 2px 5px rgba(0,0,0,0.5); -webkit-box-shadow:1px 2px 5px rgba(0,0,0,0.5); }
.ac_results ul { width: 100%; list-style-position: outside; list-style: none; padding: 0; margin: 0; }
.ac_results li { margin: 0px; padding: 2px 5px; cursor: default; display: block; line-height: 16px; overflow: hidden; } 
.ac_over { background-color:#316AC5; color:white; }

#priopopup { overflow: hidden; z-index:100; background-color:#f9f9f9; border:1px solid #cccccc; padding:5px; } 
#priopopup span { cursor:pointer; border:1px solid #f9f9f9; }
#priopopup .prio-zero:hover { border-color:#dedede; }
#priopopup .prio-neg:hover { border-color:#3377ff; }
#priopopup .prio-pos:hover { border-color:#ff3333; }
#priopopup .prio-pos-1:hover { border-color:#ff7700; }

#tagcloudbtn { margin-left:2px; margin-right:2px; font-size:8pt; font-weight:normal; border-bottom:1px dashed #ccc; padding:2px; cursor:pointer; -moz-user-select:none; -webkit-user-select: none; }
#tagcloudbtn:hover { border-bottom:1px solid #bbb; } 
#tagcloudbtn .tag { font-weight:bold; }
#tagcloudload { display:none; }
#tagcloud { overflow: hidden; z-index:100; background-color:#f9f9f9; border:1px solid #cccccc; padding:5px; width:400px; text-align:center; -moz-box-shadow:1px 2px 5px rgba(0,0,0,0.5); -webkit-box-shadow:1px 2px 5px rgba(0,0,0,0.5); } 
#tagcloud .tag { margin:1px 0px; padding:2px; line-height:140%; color:black; }
#tagcloud .tag:hover { background-color:#999988; color:white; }
#tagcloud .w0 { font-size:80%; }
#tagcloud .w1 { font-size:90%; }
#tagcloud .w2 { font-size:100%; }
#tagcloud .w3 { font-size:110%; }
#tagcloud .w4 { font-size:120%; }
#tagcloud .w5 { font-size:130%; }
#tagcloud .w6 { font-size:140%; }
#tagcloud .w7 { font-size:150%; }
#tagcloud .w8 { font-size:160%; }
#tagcloud .w9 { font-size:170%; }
#tagcloudcancel { border:1px solid #cccccc; padding:2px; margin-bottom:4px; cursor:pointer; background-color:#fdfdfd; }
#tagcloudcancel:hover { border-color:#aaaaaa; }

#taskview { padding:1px 2px; }

.ui-datepicker { width:180px; z-index:202; border: 1px solid #cccccc; background: #ffffff; display:none; padding:2px; }
.ui-datepicker-trigger { cursor:pointer; vertical-align:text-bottom; margin-left:1px; } 
.ui-datepicker-calendar { width:100%; border-collapse:collapse; }
.ui-datepicker-calendar thead th { text-align:center; padding:0px; font-size:9pt; }
.ui-datepicker-calendar tbody td { text-align:right; padding:1px;  }
.ui-datepicker-calendar td a { display:block; text-decoration:none; color:#444444; border:1px solid #cccccc; background-color:#f9f9f9; color:#111; padding:0px 1px; }
.ui-datepicker-calendar td.ui-datepicker-today a { color:#666666; background-color:#fff;  }
.ui-datepicker-calendar td.ui-datepicker-current-day a { background-color:#EAF5FF; color:#222222; border-color:#5980FF; }
.ui-datepicker-calendar td a:hover { color:#5980FF; }
.ui-datepicker-header { padding:3px 0px; }
.ui-datepicker-prev { position:absolute; left:2px;}
.ui-datepicker-next { position:absolute; right:2px;}
.ui-datepicker-title { text-align:center; }
.ui-datepicker-prev, .ui-datepicker-next { cursor:pointer; padding:0px 3px; }

.ui-resizable { position:relative;}
.ui-resizable-handle { position:absolute; font-size:0.1px; z-index:99999; display:block;}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display:none; }
.ui-resizable-s { cursor:s-resize; height:7px; width:100%; bottom:-5px; left:0px; }
.ui-resizable-e { cursor:e-resize; width:7px; right:-5px; top:0px; height:100%; }
.ui-resizable-se { cursor:se-resize; width:12px; height:12px; right:1px; bottom:1px; }

.mtt-btnmenu { border-bottom:1px dashed #ccc; padding:2px 2px; -moz-user-select:none; -webkit-user-select: none; }
.mtt-btnmenu:hover { cursor:pointer; border-bottom:1px solid #bbb; }

.mtt-btnmenu-container { 
	overflow:hidden; z-index:100;
	background-color:#f9f9f9; border:1px solid #cccccc; padding:2px;
	-moz-box-shadow:1px 2px 5px rgba(0,0,0,0.5); -webkit-box-shadow:1px 2px 5px rgba(0,0,0,0.5); margin:0px 7px 7px 0px;
} 
.mtt-btnmenu-container ul { list-style: none; padding:0; margin:0; }
.mtt-btnmenu-container li { margin:1px 0px; padding:2px 3px; cursor:pointer; color:#000; white-space:nowrap; }
.mtt-btnmenu-container li:hover, .mtt-btnmenu-container li.mtt-menu-item-active { background-color:#316AC5; color:white; }
.mtt-btnmenu-container li.mtt-disabled { color:#ACA899; }
.mtt-btnmenu-container a { display:block; text-decoration:none; outline:none; color:#000; }
.mtt-btnmenu-container li:hover a { color:white; }
.mtt-btnmenu-container.mtt-menu-has-images li { padding-left:18px; }
.mtt-btnmenu-container li.mtt-btnmenu-delimiter { height:0px; line-height:0; border-bottom:1px solid #cccccc; margin:2px -1px; padding:0px; font-size:0px; }
li.mtt-item-checked .menu-icon { float:left; width:16px; height:16px; margin-left:-18px; background:url(images/icons.gif) -16px -16px; }
.mtt-btnmenu-container.mtt-menu-has-submenu li { padding-right:18px; }
li.mtt-menu-indicator .submenu-icon {
	/*float:right; margin-right:-18px;*/ position:absolute; right:2px; /* specially for IE7 */
	width:16px; height:16px; background:url(images/icons.gif) -32px -16px no-repeat;
}

.mtt-settings-table { width:100%; border-collapse:collapse; }
.mtt-settings-table th, .mtt-settings-table td { border-bottom:1px solid #dedede; padding:8px; vertical-align:top; }
.mtt-settings-table .form-buttons { border-bottom:none; text-align:center; }
.mtt-settings-table th { text-align:left; width:210px; padding-left:8px; }
.mtt-settings-table .descr { font-size:8pt; font-weight:normal; color:#222; }
.mtt-settings-table .in350 { min-width:350px; }
