body, td, th, input,textarea,select { font-family: arial; font-size:10pt; } 
html { height:100%; }
body { margin:0px; padding:0px;  height:100%; min-height:100%; }
#wrapper { margin:0px auto; max-width:1000px;  height:100%; }
#container { height:auto !important;height:100%;min-height:100%;    }
#body { padding:8px; padding-bottom:16px; }
form { display: inline; }
h2,h3 { margin:0; }
h2 { font-size:15pt; float:left; padding-right:10px; background-color:#ffffff; }
h3 { border-bottom:2px solid #B5D5FF; margin-bottom:10px; padding:6px 0; font-size:11pt; }
a { color:#0000ff; }
#space { height:30px; }
#footer { height:30px; margin-top:-30px; }
#footer_content {  background:#b5d5ff; padding:5px; font-size:8pt; }
#footer_content a { color:#000000; }

#bar { border-bottom:1px solid #b5d5ff; padding-bottom:5px; height:15px; }
.nodecor { text-decoration:none; }
#bar_logout { display:none; }
#bar_auth { display:none; }
#authform { overflow: hidden; z-index:101; background-color:#f9f9f9; border:1px solid #cccccc; padding:5px; width:160px; }
#authform div { padding:2px 0px; }
#authform div.h { font-weight:bold; }

#tabs ul { list-style: none; padding:0; margin:0; }
#tabs ul li { margin:0; font-size: 9pt; font-weight:bold; float: left; width:90px; text-align:center; margin-right: 6px; }
#tabs ul a { margin:0px;  text-decoration: none; color:#444444; display: block; height:24px; width: 100%; padding-top: 4px; outline:none; }
#tabs ul li.ui-tabs-selected { background-color: #ededed; }
#tabs ul li.ui-state-hover a { color: #888888; }
.ui-tabs .ui-tabs-hide { display: none; }
#tabs ul li.ui-state-disabled a { color: #cccccc; }

.tab-content { background-color: #ededed; padding:8px; border-bottom:2px solid #DEDEDE; }
#loading { float:left; padding-top:5px; background-color:#ffffff; display:none; padding-right:6px;}

#task, #search { color:#444444; width:300px; }
.small-bar{ font-size:8pt; color:#999999; font-weight:normal;}
#msg { background-color:#ff3333;  padding:1px 4px; display:none; font-weight:bold; cursor:pointer; }
#msgdetails { padding:1px 4px; border:1px solid #ff3333; background-color:#fff; display:none; max-width:700px;  }
#searchbar { font-size:10pt; font-weight:normal; display:none;  margin-top:5px; }
#searchbarkeyword { font-weight:bold; }

#sort { margin-left:5px; font-size:8pt; font-weight:normal; border-bottom:1px dashed #ccc; padding:2px; cursor:pointer; -moz-user-select:none; -webkit-user-select: none; }
#sort:hover { border-bottom:1px solid #bbb; } 
#sortform { overflow: hidden; z-index:101; background-color:#f9f9f9; border:1px solid #cccccc; padding:3px; } 
#sortform .li { margin:1px 0px; padding:2px; cursor:pointer; }
#sortform .li:hover { background-color:#316AC5; color:white; }

.task-left { width:25px; float:left; }
.task-middle { margin-left:25px; margin-right:65px; }
.nobr input { margin-left:0px; margin-right:4px; }
#tasklist { list-style-type: none; margin: 0; padding: 0;}
#tasklist li { padding:6px 2px 6px 6px; border-bottom:1px solid #DEDEDE; min-height:18px; margin-bottom:1px; background-color:#fff; }
#tasklist li:hover { background-color:#f6f6f6; }
.task-actions { float:right; width:65px; text-align:right; }
.task-actions a { margin-left:2px; margin-right:2px; }
.task-actions img { border:none; width:16px; height:16px; }
.task-date { color:#999999; font-size:8pt; margin-left:4px; display:none; }
.task-title a { color:#000000; }
.task-title a:hover { color:#af0000; }
#tasklist.readonly li .task-actions { display:none; }
.task-tags { margin-left:4px; padding:0px 2px; }
.task-tags .tag { font-size:8pt; font-weight:bold; color:#333333; text-decoration:underline;  }
.task-tags .tag:hover {  }
.duedate { color:#333333;  border-bottom:1px dotted #333333; padding:0px; padding-left:1px; margin-left:5px; float:right; }
#tasklist li.soon .duedate { color:#008000; border-color:#008000; }
#tasklist li.today .duedate { color:#FF0000; border-color:#FF0000; } 
#tasklist li.past .duedate { color:#A52A2A;  border-color:#A52A2A; } 
li.task-completed span.task-through { text-decoration:line-through; color:#777777; }
li.task-completed .task-title a { color:#777777; }
li.task-completed .task-actions a { color:#7070ff; }
#tasklist li.task-completed .duedate { color:#777777; border-color:#777777; }
li.task-completed  { opacity:0.7; }

#tasklist.filter-past li, #tasklist.filter-today li, #tasklist.filter-soon li { display:none; }
#tasklist.filter-past li.past, #tasklist.filter-today li.today, #tasklist.filter-soon li.soon { display:block; }
#tasklist.filter-past li.task-completed, #tasklist.filter-today li.task-completed, #tasklist.filter-soon li.task-completed { display:none; }

div.task-note-block { margin-left:2px; color:#777777;  background:url(images/page_white_text.png) left  2px no-repeat; padding-left:19px; padding-top:2px; min-height:16px; margin-top:2px; }
li.task-completed div.task-note-block div.task-note { text-decoration:line-through; }
div.task-note-area { display:none; margin-bottom:5px; }
div.task-note-area textarea { color:#999999; width:100%; display:block; height:65px; }
.task-note-actions { font-size:8pt; }
.hidden { display:none; }
.in500 { width:500px; color:#444444; }
.in100 { width:100px; color:#444444; }
.task-note span a { color:#777777; }
.task-note span a:hover { color:#af0000; }

.task-prio { padding-left:2px; padding-right:2px; margin-left: 2px; margin-right:3px; cursor:default; }
.prio-neg { background-color:#3377ff; color:#ffffff; }
.prio-pos { background-color:#ff3030; color:#ffffff;  }
.prio-o { background-color:#dedede; }
#tasklist li .prio-o { display:none; }

#authstr { display: none; color:#999999; }
#authstr.attention { color:#ff0000; }

.form-row { margin-top:4px; margin-bottom:4px; }
.form-row span.h { font-weight:bold; color:#333333; }
#overlay { position:fixed; z-index:200; background-color:#111111; display:none; top:0px; left:0px; width:100%; height:100%; }
#page_taskedit { position:fixed; z-index:201; background-color:#fdfdfd; padding:8px; border:1px solid #cccccc; width:510px; }
#page_taskedit .form-row .in500 { width:99%; }
#page_taskedit .form-row textarea.in500 { height:130px; /*resize:none;*/ }
.ui-icon-gripsmall-diagonal-se { background-image:url(images/resizegrip.gif); }

/* autocomplete */
.ac_results { padding: 0px; border: 1px solid #cccccc; background-color: #f0f0f0; overflow: hidden;  z-index: 99999; }
.ac_results ul { width: 100%; list-style-position: outside; list-style: none; padding: 0; margin: 0; }
.ac_results li { margin: 0px; padding: 2px 5px; cursor: default; display: block; line-height: 16px; overflow: hidden; } 
.ac_over { background-color: #bbbbbb; color: white; }

#priopopup { overflow: hidden; z-index:101; background-color:#f9f9f9; border:1px solid #cccccc; padding:5px; } 
#priopopup .prio-o { display:inline; }
#priopopup span { cursor:pointer; border:1px solid #f9f9f9; }
#priopopup .prio-o:hover { border:1px solid #dedede; }
#priopopup .prio-neg:hover { border:1px solid #3377ff; }
#priopopup .prio-pos:hover { border:1px solid #ff3030; }

#tagcloudbtn { margin-left:5px; font-size:8pt; font-weight:normal; border-bottom:1px dashed #ccc; padding:2px; cursor:pointer; -moz-user-select:none; -webkit-user-select: none; }
#tagcloudbtn:hover { border-bottom:1px solid #bbb; } 
#tagcloudbtn .tag { font-weight:bold; }
#tagcloudload { display:none; }
#tagcloud { overflow: hidden; z-index:101; background-color:#f9f9f9; border:1px solid #cccccc; padding:5px; width:400px; text-align:center; } 
#tagcloud .tag { margin:1px; padding:2px; line-height:140%; color:black; }
#tagcloud .tag:hover { background-color:#999988; color:white; }
#tagcloud .w0 { font-size:80%; }
#tagcloud .w1 { font-size:90%; }
#tagcloud .w2 { font-size:100%; }
#tagcloud .w3 { font-size:110%; }
#tagcloud .w4 { font-size:120%; }
#tagcloud .w5 { font-size:130%; }
#tagcloud .w6 { font-size:140%; }
#tagcloud .w7 { font-size:150%; }
#tagcloud .w8 { font-size:160%; }
#tagcloud .w9 { font-size:170%; }
#tagcloudcancel { border:1px solid #cccccc; padding:2px; margin-bottom:4px; cursor:pointer; background-color:#fdfdfd; }
#tagcloudcancel:hover { border-color:#aaaaaa; }

.ui-datepicker { width:180px; z-index:202; border: 1px solid #cccccc; background: #ffffff; display:none; padding:2px; }
.ui-datepicker-trigger { cursor:pointer; vertical-align:text-bottom; margin-left:1px; } 
.ui-datepicker-calendar { width:100%; border-collapse:collapse; }
.ui-datepicker-calendar thead th { text-align:center; padding:0px; font-size:9pt; }
.ui-datepicker-calendar tbody td { text-align:right; padding:1px;  }
.ui-datepicker-calendar td a { display:block; text-decoration:none; color:#444444; border:1px solid #cccccc; background-color:#f9f9f9; color:#111; padding:0px 1px; }
.ui-datepicker-calendar td.ui-datepicker-today a { color:#666666; background-color:#fff;  }
.ui-datepicker-calendar td.ui-datepicker-current-day a { background-color:#EAF5FF; color:#222222; border-color:#5980FF; }
.ui-datepicker-calendar td a:hover { color:#5980FF; }
.ui-datepicker-header { padding:3px 0px; }
.ui-datepicker-prev { position:absolute; left:2px;}
.ui-datepicker-next { position:absolute; right:2px;}
.ui-datepicker-title { text-align:center; }
.ui-datepicker-prev, .ui-datepicker-next { cursor:pointer; padding:0px 3px; }

#taskviewcontainer { border-bottom:1px dashed #ccc; padding:1px 2px; }
#taskviewcontainer:hover { cursor:pointer; border-bottom:1px solid #bbb; }
#taskview { overflow: hidden; z-index:103; background-color:#f9f9f9; border:1px solid #cccccc; padding:3px; } 
#taskview .li { margin:1px 0px; padding:2px; cursor:pointer; }
#taskview .li:hover { background-color:#316AC5; color:white; }

.ui-resizable { position:relative;}
.ui-resizable-handle { position:absolute; font-size:0.1px; z-index:99999; display:block;}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display:none; }
.ui-resizable-s { cursor:s-resize; height:7px; width:100%; bottom:-5px; left:0px; }
.ui-resizable-e { cursor:e-resize; width:7px; right:-5px; top:0px; height:100%; }
.ui-resizable-se { cursor:se-resize; width:12px; height:12px; right:1px; bottom:1px; }
